# ===========================================
# Delulu dApp Environment Variables
# ===========================================

# --- The Graph (Subgraph) ---
NEXT_PUBLIC_SUBGRAPH_URL="https://api.studio.thegraph.com/query/1741533/delulu-prediction-market/0.01"

# --- App ---
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_APP_ENV="development"



# --- Farcaster ---
NEXT_PUBLIC_FARCASTER_MINIAPP_URL=""
NEXT_PUBLIC_FARCASTER_HEADER=""
NEXT_PUBLIC_FARCASTER_PAYLOAD=""
NEXT_PUBLIC_FARCASTER_SIGNATURE=""

# --- Contract ---
NEXT_PUBLIC_DELULU_CONTRACT_MAINNET=""
